a{
	text-decoration: none;
}
*{
	color: #000;
}
h1,h2,h3,h4,h5,h6,p,a,span,div{
	font-family: "微软雅黑"
}
ul li{
	list-style:none;
}
/* 清除浮动 */
.ks-clear:after, .clear:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
.ks-clear, .clear {
  *zoom: 1;
}

.left{
	float: left;
}
.right{
	float: right;
}
.heightCenter{
	width: 1200px;
	margin:0 auto;
}
.topNavBox{
	background: #f2f2f2;	
}
.topNav{
	line-height: 30px;
}
/*导航logo*/
.topLogoBox{
	padding:20px 0;
}
.leftLogo{
	display: block;
	width: 225px;
	height: 80px;
	background: url(../img/logo3.png) no-repeat;
}
/*搜索*/
.centerSerach{
	width: 474px;
	height: 40px;
	border-radius: 4px;
	margin:9px 0 0 90px;
}
.centerSerach input{
	float: left;
}
.centerSerach .searchInfo{
	width: 360px;
	height: 36px;
	border-radius: 4px 0 0 4px;
	background: #fff;
	border:1px solid #16aefd;
	font-size: 16px;
	text-indent: 5px;
    outline:none;
}
.centerSerach .searchButton{
	width: 90px;
	height: 40px;
	border-radius:0 4px 4px 0;
	background: #16aefd;
	border: 1px solid #16aefd;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}
.serachTxt{
	clear: both;
	padding-top:6px;
}
.serachTxt span,.serachTxt a{
	color: red;
}
/*快速导航*/
.rightLogo ul li a{
    display: block;
    width: 70px;
    height: 55px;
    border-radius: 35px;
    line-height: 20px;
    background: #f6f6f6;
    text-align: center;
    padding-top: 15px;
    font-weight: bold;
    color:#16aefd;
    position: absolute;
    top: 0;
    z-index: 1;
}
.rightLogo ul li{
    width: 70px;
    height: 70px;
	display: inline-table;
	float:left;
	border-radius: 35px;
	margin-left: 10px;
	cursor: pointer;
	position: relative;
}
.rightLogo ul li .rightImg{
	position: absolute;
	z-index: 2;
    width: 70px;
    height: 70px;
	border-radius: 35px;
	background: url() 0 0 no-repeat #16aefd;
}
.rightLogo ul li:nth-child(1) .rightImg{
	position: absolute;
	top:0;
	right: 0;
	background-position:12px -715px;
	margin-left:90px;
}
.rightLogo ul li:nth-child(2) .rightImg{
	background-position:14px -802px;
}
.rightLogo ul li:nth-child(3) .rightImg{
	background-position:15px -892px;
}
.rightLogo ul li:nth-child(4) .rightImg{
	background-position:14px -982px;
}
.rightLogo{
	position: relative;
}
.rightLogo ul:nth-child(2) li{
	background:none;
}
.rightLogo ul:nth-child(2){
	position: absolute;
}

/*导航*/
.navBox{
	background: #16aefd;
}
.nav{
	position: relative;
}
.nav ul li{
	float: left;
	width: 150px;
	height: 60px;
	background: url() 26px -2px no-repeat #16aefd;
}
.nav ul li a{
	display: block;
	height: 60px;
	text-align: left;
}
.nav ul li ul{
	position: absolute;
	display:none;
}
.nav ul li ul li{
	line-height: 60px;
	float: none;
}
.nav ul li ul li a{
	text-align: center;
	font-size: 17px;
	border-top:1px dashed silver; 
}
.nav ul li:hover ul{
	display:block;
}
.nav ul li a span{
	display: block;
	padding-top: 14px;
	text-indent: 40px;
}
.nav ul li:nth-child(2){
	background-position: 13px -262px;
}
.nav ul li:nth-child(3){
	background-position: 14px -87px;
}
.nav ul li:nth-child(4){
	background-position: 26px -176px;
}
.nav ul li:nth-child(5){
	background-position: 13px -434px;
}
.nav ul li:nth-child(6){
	background-position: 7px -347px;
}
.nav ul li:nth-child(7){
	background-position: 10px -522px
}
.nav ul li:nth-child(8){
	background-position: 10px -610px
}
.nav ul .currentLi{
	background: url() 26px -2px no-repeat #f3f3f3;
}
.nav ul li:hover{
	background: url() 26px -2px no-repeat #fff;
	color: #fff;
}
.nav ul li:nth-child(1):hover span:nth-child(1){
	color:#16aefd;
}
.nav ul li:nth-child(2):hover{
	background-position: 13px -262px;
}
.nav ul li:nth-child(2):hover span:nth-child(1){
	color:#16aefd;
}
.nav ul li:nth-child(3):hover{
	background-position: 14px -87px;
}
.nav ul li:nth-child(3):hover span:nth-child(1){
	color:#16aefd;
}
.nav ul li:nth-child(4):hover{
	background-position: 26px -176px;
}
.nav ul li:nth-child(4):hover span:nth-child(1){
	color:#16aefd;
}
.nav ul li:nth-child(5):hover{
	background-position: 13px -434px;
}
.nav ul li:nth-child(5):hover span:nth-child(1){
	color:#16aefd;
}
.nav ul li:nth-child(6):hover{
	background-position: 7px -347px;
}
.nav ul li:nth-child(6):hover span:nth-child(1){
	color:#16aefd;
}
.nav ul li:nth-child(7):hover{
	background-position: 10px -522px
}
.nav ul li:nth-child(7):hover span:nth-child(1){
	color:#16aefd;
}
.nav ul li:nth-child(8):hover{
	background-position: 10px -610px
}
.nav ul li:nth-child(8):hover span:nth-child(1){
	color:#16aefd;
}
.nav ul li:nth-child(2) a span,.nav ul li:nth-child(8) span{
	text-indent: 40px;
}
.nav ul li:nth-child(3) a span{
	text-indent: 40px;
}
.nav ul li:nth-child(5) span{
	text-indent: 60px;
}
.nav ul li:nth-child(6) span{
	text-indent: 45px;
}
.nav ul li:nth-child(7) span{
	text-indent: 57px;
}
.nav ul li a span:nth-child(1){
	font-size: 18px;
	color: #fff;
}
.nav ul li a span:nth-child(2){
	padding-top:4px;
	font-size: 12px;
	color:#294350;
}
.nav ul .currentLi{
	background: url() 26px -2px no-repeat #fff;
}
.nav ul li.currentLi a span:nth-child(1){
	color: #16aefd;
}

/*当前位置*/
.location{
	padding-top:20px;
	border-bottom:1px solid #e5e5e5;
}
.location a{
	font-size: 16px;
}
.location>h1{
    font-size: 38px;
    line-height: 48px;
    padding: 40px 0;
    text-align: center;
}
.location>h1 span{
	display: block;
	width: 840px;
    color: #4D4F53;
}
/*左侧内容页*/
.mainBodyLeft{
	width: 1200px;
}
.advertising{
	padding-top:20px;
}
.advertisingBottom{
	padding-bottom:20px;
}
.miscellaneous span{
	margin-right: 10px;
    padding: 3px 0 3px 28px;
	display: block;
	float: left;
	color:#919191;
}
.miscellaneous span:nth-child(4){
	float: right;
	margin-right: 0;
}
.miscellaneous{
    height: 22px;
    border-top: 1px solid #e5e5e5;
    padding: 16px 0;
}
.miscellaneous span:nth-child(1) a{
	color:#16aefd;
}
.miscellaneous span:nth-child(1){
	background: url(../img/contenticon.png) -226px -464px no-repeat #fff;
}
.miscellaneous span:nth-child(2){
	background: url(../img/contenticon.png) -224px -550px no-repeat #fff;
}
.miscellaneous span:nth-child(3){
	background: url(../img/contenticon.png) -224px -633px no-repeat #fff;
}
/*分享*/
.miscellaneous span:nth-child(4){
	position: relative;
    bottom: 17px;
    right: -13px;
}
span .bdshare-button-style2-24 a, .bdshare-button-style2-24 .bds_more,span .bdshare-button-style2-24 .bds_more{
	margin-left:15px;
}
span .bdsharebuttonbox .bds_more{
	background: url(../img/contenticon.png) -223px -367px no-repeat;
}
span .bdsharebuttonbox .bds_qzone{
	background: url(../img/contenticon.png) -225px -157px no-repeat;
}
span .bdsharebuttonbox .bds_tsina{
	background: url(../img/contenticon.png) -225px -225px no-repeat;
}
span .bdsharebuttonbox .bds_tqq{
	background: url(../img/contenticon.png) -219px -16px no-repeat;
}
span .bdsharebuttonbox .bds_renren{
	background: url(../img/contenticon.png) -221px -291px no-repeat;
}
span .bdsharebuttonbox .bds_weixin{
	background: url(../img/contenticon.png) -222px -85px no-repeat;
}
span .bdsharebuttonbox .bds_more:hover{
	background: url(../img/contenticont.png) -223px -367px no-repeat;
}
span .bdsharebuttonbox .bds_qzone:hover{
	background: url(../img/contenticont.png) -225px -157px no-repeat;
}
span .bdsharebuttonbox .bds_tsina:hover{
	background: url(../img/contenticont.png) -225px -225px no-repeat;
}
span .bdsharebuttonbox .bds_tqq:hover{
	background: url(../img/contenticont.png) -219px -16px no-repeat;
}
span .bdsharebuttonbox .bds_renren:hover{
	background: url(../img/contenticont.png) -221px -291px no-repeat;
}
span .bdsharebuttonbox .bds_weixin:hover{
	background: url(../img/contenticont.png) -222px -85px no-repeat;
}
span .bdsharebuttonbox a,span .bdsharebuttonbox .bds_more{
	width: 32px;
	height: 32px;
	padding:0;
}
/*正文*/
.contentBox{
	padding-top:20px;
}
.contentBox p{
	line-height: 28px;
	font-size: 16;
	text-indent: 30px;
	text-align: justify;
}
.contentBox img{
	margin:15px auto;
	width: 390px;
	height: 320px;
}
.contentBox h3{
	font-size: 22px;
    color: #000;
    padding-left: 20px;
    border-left: 8px solid #16aefd;
    margin: 15px 0;
    line-height: 28px;
    background: #f7f7f7;
}
.contentBox h4{
	margin:20px 0;
	font-size: 20px;
	font-weight: normal;
}
.sweetBox{
	padding:20px 0;
	font-weight: bold;
	color: #16aefd;
	font-size: 18px;
}
.contentBox h5 {
	text-indent:28px; 
	font-size:14px; 
	font-weight:100; 
	background:#cfefff; 
	border:1px solid #16aefd; 
	margin:2px 0; 
	padding:12px;
}
/*翻页*/
.pageTurning .leftPage a,.pageTurning .rightPage a{
	display: block;
	width: 250px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.leftPage,.rightPage{
	width:340px;
	height: 40px;
	background: #f2f2f2;
	line-height: 40px;
	padding:10px 0;
}
.leftPage span{
	float: left;
	display: block;
}
.rightPage span{
	display: block;
	float: right;
}
.leftPage span:nth-child(1){
	margin-left: 10px;
	border-right: 1px solid #c3c3c3;
	width: 60px;
}
.rightPage span:nth-child(1){
	border-left: 1px solid #c3c3c3;
	width: 60px;
	text-align: center;
}
.leftPage span:nth-child(2){
	margin-left: 10px;
}
.rightPage span:nth-child(2){
	float: right;
	margin-right: 10px;
}
.centerPage,.centerPage2{
	width: 80px;
	height: 60px;
	cursor: pointer;
}
.centerPage span:nth-child(2):hover,.centerPage2 span:nth-child(2):hover{
}
.centerPage span,.centerPage2 span{
	display: block;
}
.centerPage span:nth-child(1),.centerPage2 span:nth-child(1){
	width: 38px;
	height: 38px;
	border-radius: 19px;
	background: #666;
	margin:0 auto;
}
.centerPage span:nth-child(1){
	background: url(../img/contenticont.png) -218px -444px no-repeat #333;
}
.centerPage2 span:nth-child(1){
	background: url(../img/contenticont.png) -217px -540px no-repeat #333;
}
.centerPage span:nth-child(2),.centerPage2 span:nth-child(2){
	font-size: 14px;
	line-height: 22px;
	display: block;
	text-align: center;
}
.pageTurning a span:hover{
	text-decoration: underline;
	color: #16aefd;
}
.mainBodyBox .mainBody .mainBodyLeft .pageBox{
	margin-top: 20px;
}
.pageBox{
    width: 400px;
    margin: 0 auto;
}
.pageBox span{
    display: block;
    border: 1px solid #16aefd;
    padding: 7px 10px;
    float: left;
    margin-right: 5px;
    border-radius: 3px;
    transition: background 0.5s,color 0.5s;
}
.pageBox span a{
    display: block;
    transition: background 0.5s,color 0.5s;
}
.pagebox_num_nonce{
	background:#16aefd;
	color:#fff;
}
.pageBox span:hover{
	background:#16aefd;
	color:#fff;
}
.pageBox span a:hover{
	background:#16aefd;
	color:#fff;
}
/*相关游记*/
.travels h1{
	font-size: 18px;
	font-weight: bold;
	padding:20px 0 15px 36px;
	background: url(../img/contenticont.png) -226px -618px no-repeat;
	border-bottom: 1px dashed #c6c6c6;
}
.travels h1 span{
	color:#16aefd;
}
.travels h1 span:nth-child(2){
	color:red;
}
.travels ul li{
	width: 410px;
	float: left;
	border-bottom: 1px solid #c6c6c6;
}
.travels ul li a span{
	color: #666;
	line-height: 46px;
}
.travels ul li a span:nth-child(1){
	padding-right: 5px;
}
.travels ul li:nth-child(2),
.travels ul li:nth-child(4),
.travels ul li:nth-child(6),
.travels ul li:nth-child(8){
	margin-left: 20px;
}

/*当地美食*/
.food h1{
	background-position: -226px -709px;
	border:none;
}
.food ul li{
	  width: 270px;
	  border:none;
}
.food ul li a ,.food ul li a img{
	display: block;
	width: 270px;
}
.food ul li{
	box-shadow:0 0 3px rgba(0,0,0,0.6);
	margin:0;
}
.food ul li a {
	height: 160px;
	overflow: hidden;
}
.food ul li p{
	margin:15px 10px;
	font-size: 16px;
	text-align: left;
	line-height: 22px;
}
.food ul li:nth-child(4){
	margin:0;
}
.food ul li:nth-child(2),
.food ul li:nth-child(3),
.food ul li:nth-child(5),
.food ul li:nth-child(6){
	margin-left: 15px;
}
.food ul li:nth-child(4),
.food ul li:nth-child(5),
.food ul li:nth-child(6){
	margin-top:15px;
}
/*留言*/
.messageTxt {
	border-radius: 4px;
	width:1200px;
	border:1px solid #16aefd;
}
.messageBox h1{
	border-bottom: none;
	background-position: -226px -800px;
}
.messageTxt textarea{
	width: 824px;
	border:none;
	resize: none;
	border-radius: 4px 4px 0 0;
    outline:none;
    padding:5px;
    font-size: 14px;
    height: 100px;
}
.bottomTxt{
	border:none;
	background: #f2f2f2;
	border-radius: 0 0 4px 4px;
	padding:10px 0;
	height: 24px;
}
.bottomTxt input{
	border-radius: 4px;
	line-height: 26px;
	border:none;
	text-indent: 5px;
	width: 80px;
	margin-left: 10px;
	float: left;
	outline: none;
}
.bottomTxt .comment-input{
    float: right;
    margin-right: 570px;
    background: #16aefd;
    color: #fff;
}
.bottomTxt .comment-input:hover{
	background:#1184c0;
}
.bottomTxt .inputImg{
	height: 26px;
    position: relative;
    top: 1px;
    border-radius: 4px;
}
.inputImg{
	float: left;
	width: 80px;
	height: 28px;
	background: red;
	margin-left: 10px;
}
.bottomTxt input[type="button"]{
	float: right;
	margin-right: 10px;
	background:#16aefd;
	color: #fff;
	border:none;
	cursor: pointer;
	outline: none;
}
.bottomTxt input[type="button"]:hover{
	background: #1187c5;
}
.messageBox p{
	padding:10px 0;
	color:#c6c6c6;
}

/*网友评论*/
.comment h1{
	border-bottom: none;
	background-position: -226px -890px;
}
/*评论列表*/
.mainBodyLeft .comment ul li{
	width: 840px;
	border:none;
	margin:0;
	padding-bottom: 20px;
}
.comment ul{
	padding-top:10px;
}
.commentContentTitle{
	height: 28px;
	width:840px;
	background: #545d64;
	position: relative;
}
.commentContentTitle span{
	display: block;
	text-indent: 50px;
	line-height: 28px;
	color: #fff;
}
.commentContentTitle img{
	position: absolute;
	display: block;
	width: 40px;
	height: 40px;
	left: 5px;
	top:-6px;
}
.commentContent{
	margin-top:16px;
	padding:5px 0 10px 60px;
	line-height: 22px;
	font-size: 14px;
}
.commentContentBottom{
	padding:0 0 20px 60px;
	font-size: 14px;
}
.commentContentBottom span{
	color:#aaa;
}
input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
/*右侧*/
.mainBodyRight{
	width: 340px;
}
.popular h1{
	border-bottom: none;
    background-position: -226px -981px;
}
.mainBodyRight ul li{
	border:none;
	width: 160px;
	margin-bottom: 10px;
}
.mainBodyRight ul li p{
	margin:10px 0;
}
.popular ul li a,.popular ul li a img{
	display: block;
	width: 160px;
}
.popular ul li a{
	height: 99px;
	overflow: hidden;
}
.bottom span{
	display: block;
	float: left;
	font-size: 14px;
	line-height: 18px;
}
.bottom span:nth-child(1),.bottom span:nth-child(4){
	width: 20px;
	height: 20px;
	background: url(../img/contenticon.png) 0 0 no-repeat;
}
.bottom span:nth-child(1){
	background-position:-230px -759px;
}
.bottom span:nth-child(4){
	background-position:-229px -694px;
}
.bottom span:nth-child(3),
.bottom span:nth-child(4){
	float: right;
}

/*美人游记*/
.beauty h1{
	background-position: -225px -1071px;
}
.beautybanner a img,.beauty>a{
	width: 340px;
	display: block;
}
.beautybanner a{
	height: 210px
}
.beautybanner {
	width: 340px;
}
.beautySpan{
	width: 120px;
	margin:0 auto;
	padding:15px 0;
}
.beautySpan span{
	display: block;
	width: 10px;
	height: 10px;
	background: #ff7129;
	border-radius: 5px;
	float: left;
	margin-right: 5px;
}
.beauty ul li,.beauty ul li a{
	width: 340px;
	height: 40px;
	line-height: 40px;
	text-indent: 30px;
	font-size: 16px;
}
.mainBodyRight .beauty ul li{
	margin-bottom: 0;
	margin-left: 0;
	background: url(../img/contenticont.png) -7px -1126px no-repeat;
}
.mainBodyRight .beauty ul li.currentBg{
	background: url(../img/contenticont.png) -7px -1126px no-repeat #f3f3f3;
}
.mainBodyRight .beauty ul li.currentBg a{
	color:#ff7129;
}
.mainBodyRight .beauty ul li :hover{
		background: url(../img/contenticont.png) -7px -1126px no-repeat #f3f3f3;
	}
.mainBodyRight .beauty ul li a:hover{
	color: #ff7129;
}

/*主题推荐*/
.theme h1{
	background-position: -223px -1163px;
}
.theme ul li>a,.theme ul li>a img{
	display: block;
	width: 120px;
}
.theme ul li>a{
	height: 74px;
	overflow: hidden;
	border-radius: 5px;
}
.themeRight{
	width: 210px;
	height: 74px;
}
.theme .themeRight a{
	height: 16px;
	line-height: 16px;
}
.mainBodyRight .theme ul li{
	width: 340px;
	position: relative;
	margin:0;
	margin-bottom: 10px;
}
.mainBodyRight .theme ul li p{
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    color: #808080;
    padding: 5px 0;
    padding-left: 1px;
}
.theme ul li span{
	font-size: 14px;
	display: block;
	color:#888;
	text-indent: 20px;
	position: absolute;
	bottom: 0;
}
.theme ul li span:nth-child(3){
	float: left;
	background: url(../img/contenticon.png) -231px -696px no-repeat;
}
.theme ul li span:nth-child(4){
	float: right;
	background: url(../img/contenticon.png) -233px -761px no-repeat;
	right: 0;
}

/*页底*/
.footerBox{
	padding:30px 0;
	background:#3c3c3c;
}
.footLeft{
	margin-top:10px;
}
.footCenter{
	width: 730px;
	margin-top:20px;
}
.footCenter{
	margin-left: 40px;
}
.footCenter span,.footCenter p{
	color:#c2c2c2;
	font-size: 14px;

}
.footCenter span{
	display: block;
	padding-bottom: 5px;
	margin-bottom: 15px;
	float: left;
	border-bottom:2px solid #c2c2c2;
}
.footCenter p{
	clear: both;
	line-height: 18px;
	text-align: justify;
	text-justify: inter-word;
}
.footRight img{
	display: block;
	width: 100px;
}
.footRight span{
	display: block;
	text-align: center;
	padding:5px 0;
	color: #fff;
}


/*右下角导航*/
.list_ml{
	background: #fff;
	padding: 10px 80px 10px 20px;
	position: relative;
}
.list_ml h1{
	font-size: 18px;
	padding:5px 0 10px 0;
}
.fix-smallnav li{
	list-style: none;
	line-height: 26px;
	height: 26px;
	padding:3px 0;
	padding-left: 10px;
	background: url(../img/h3.png) no-repeat;
	font-size:14px;
	position: relative;
	cursor: pointer;
}
.fix-smallnav li span{
	display: block;
	line-height: 26px;
	height: 26px;
	float: left;
}
.fix-smallnav li span:nth-child(1){
	width: 14px;
}
.fix-smallnav li span:nth-child(2){
	text-align:center;
	padding:0 5px;
}
.fix-smallnav .nav_click{
	background: url(../img/currenth3.png) no-repeat;
	color: #ff7129;
}
.fix-smallnav .nav_click span:nth-child(1){
	width: 14px;
	height: 26px;
	background: url(../img/currentleft.png) no-repeat;
}
.fix-smallnav .nav_click span:nth-child(2){
	height: 26px;
	background: url(../img/currentcenter.png) repeat-x;
}
.fix-smallnav .nav_click span:nth-child(3){
	width: 4px;
	height: 26px;
    background: url(../img/currentright.png) no-repeat;
}
.list_ml h2{
	position: relative;
	left: -1px;
	line-height: 26px;
	height: 26px;
	padding-left: 20px;
	background: url(../img/arrowcontent.png) 0 10px no-repeat;
	font-size:15px;
	cursor: pointer;
}
.list_ml h2:last-child{
	background: url(../img/commenticon.png) 0 -4px no-repeat;
}
.navList{
	position: fixed;
	bottom:200px;
	padding:20px 10px;
	background: #fff;
	display: none;
	z-index: 999;
}
.navMenu,.navTop{
	width: 50px;
	height: 50px;
	float: left;
	border-radius: 4px;
	cursor: pointer;
	margin-left:20px;
}
.navMenu{
	background: url(../img/menu.png) 10px 12px no-repeat #d6d6d6;
}
.navTop{
	background: url(../img/top.png) 12px 15px no-repeat #d6d6d6;
}
.list_ml h2:hover{
	color:#ff7129;
}
.navMenu:hover{
	background: url(../img/menu.png) 10px 12px no-repeat #17aefd;
}

.navTop:hover{
	background: url(../img/top.png) 12px 15px no-repeat #17aefd;
}
#smallnav li:hover{
	background: url(../img/currenth3.png) no-repeat;
	color:#ff7129;
}
#smallnav li span:hover{
	color:#ff7129;
} 
.mainBodyRight .list_ml ul li{
	width: auto;
    margin-bottom: 0;
}
.mainBodyRight .list_ml ul li span:nth-child(2){
	max-width: 200px;
    overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.mainBodyRight .list_ml ul{
	max-height:200px; 
	overflow: auto;
}


/*banner*/
.beautybanner .bannerBox a{
	height: 50px;
}
.banner{ 
	width:100%; 
	height:auto; 
	overflow:hidden; 
	position:relative;
}
.bImg{ 
	height:260px;  
	position:absolute; 
	left:0; 
	top:0;
}
.bImg a{ 
	display:block; 
	height:260px; 
	float:left;
}
.bList{ 
	height:20px; 
	padding-top:270px; 
	position:relative; 
	margin:0 auto;
	z-index:1; 
	cursor: pointer;
}
.bList span{ 
	display:block;
	cursor:pointer; 
	width:10px; 
	height:10px; 
	border-radius:50%; 
	background: #ccc; 
	float:left; 
	margin:0 5px; 
	_margin:0 3px;
}
.bList .spcss{
	background:#f50;
}
.barLeft{ 
	position: absolute;
    z-index: 500;
    display: block;
    width: 30px;
    height: 50px;
    left: 0px;
    background: rgba(0,0,0,0.5);
    top: 50%;
    margin-top: -50px;
}
.barRight{ 
	position: absolute;
    z-index: 500;
    display: block;
    width: 30px;
    height: 50px;
    right: 0px;
    background: rgba(0,0,0,0.5);
    top: 50%;
    margin-top: -50px;
}
.barLeft em{ 
	display:block; 
	width:17px; 
	height:32px; 
	background:url(../img/arrow2.png) 0px 0px no-repeat;
	margin:0 auto;
	margin-top:8px;
	margin-left:6px;
}
.barRight em{ 
	display:block; 
	width:17px; 
	height:32px; 
	background:url(../img/arrow2.png) -17px 0px no-repeat;
	margin:0 auto;
	margin-top:8px;
	margin-left:8px;
}
.barLeft .emcss{ 
	background-position:0px -32px;
}
.barRight .emcss{ 
	background-position:-17px -32px;
}
.bImg{
	z-index: 30;
}
.bImg a p{
	z-index: 222;
	width: 100%;
	background:rgba(0,0,0,0.5);
	color: #fff;
	text-indent: 0;
	font-size: 16px;
	line-height: 30px;
	text-indent: 10px;
	position: absolute;
	bottom:0 ; 
	height: 30px;
	color:#fff;
}
.bImg a{
	position: relative;
	width: 400px;
	height: 260px;
	background-size: 500px 260px;
}

/*页面效果*/
.rightLogo ul li .rightImg{
	transition:transform 0.5s linear;
}
.themeRight a:hover{
	color:#ff7129;
}
.centerPage span:nth-child(1):hover{
    background: url(../img/contenticont.png) -218px -444px no-repeat #000;
}
.centerPage2 span:nth-child(1):hover{
    background: url(../img/contenticont.png) -217px -540px no-repeat #000;
}
.food ul li:hover{
	box-shadow:0 0 8px rgba(0,0,0,0.6);
}

.topreg {float:right;}
.topreg a{padding-left:10px;}